<div class="search-container">
  <button *ngIf="searchTerm" class="clear-btn" (click)="clearSearch()">
    ×
  </button>
  <input
    type="text"
    class="search-input"
    placeholder="Search..."
    [(ngModel)]="searchTerm"
    (input)="onSearch()"
  />
  <img
    class="mglass-icon"
    src="assets/icons/magnifying-glass.svg"
    alt="Search"
  />
</div>
<section class="item-list">
  <app-item-card
    *ngFor="let item of filteredItems"
    [item]="item"
    [selected]="selectedItems.has(item.id)"
    (toggleSelect)="onToggleSelect($event)"
    (clicked)="onItemClicked($event)"
    (deleted)="onDelete($event)"
  >
  </app-item-card>
</section>
